<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     movie app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let x of myMovies" style="text-align: center;"> 
    <img src={{x.Poster}}>
    <ion-card-header>
      <ion-card-title>]{{x.Title}}</ion-card-title>
      <ion-card-subtitle>{{x.Year}}</ion-card-subtitle>
    </ion-card-header>
  
   <ion-card-content>
   
   </ion-card-content>
  </ion-card>


<!--<ul>
  <li *ngFor="let x of myMovies">
   {{x.Title}}, {{x.Year}}
  <img src={{x.Poster}}>
  </li>
</ul>-->
</ion-content>
